body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.background-color {
    background-color: #777777;
}
.white-text {
	color: #FFFFFF
}
.background-custom {
		  background-color: black;
		  	height: 150px;
}
.car-background {

	    background-image: url("../Content/Images/Car_clean.png");
  background-repeat: no-repeat;
	background-position-x: right;
	background-size: 100%;
			  	height: 150px;
	opacity: 0.5;
}
