
@{
    ViewBag.Title = "Services";
}

<div class="background-color">
	<div class="pv-40 dark-translucent-bg">
		<div class="container">
			<div class="row">
				<div class="main col-md-12">
					<div class="row">
						<div class="col-md-6">
							<h3 class="title">Services</h3>
							<div class="separator-2"></div>
							<ul>
								<li>
									Airport Transfer
								</li>
								<li>
									Wedding Day Hire
								</li>
								<li>
									Day Hire (8-12 hours)
								</li>
								<li>
									Corporate
								</li>
								<li>
									Family Events
								</li>
								<li>
									VIP Close Protection (SIA Certified)
								</li>
								<li>
									Parcel Delivery
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<h3 class="title">Payments</h3>
							<div class="separator-2"></div>
							<ul>
								<li>
									PayPal
								</li>
								<li>
									Cash
								</li>
								<li>
									Credit or Debit Card (2% transaction charge applies)
								</li>
								<li>
									Apple Pay
								</li>
								<li>
									Bitcoin
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>