
@{
    ViewBag.Title = "Services";
}

<div class="background-color">
	<div class="pv-40 dark-translucent-bg">
		<div class="container">
			<div class="row">
				<div class="main col-md-12">
					<div class="row">
						<div class="col-md-6">
							<h3 class="title">Services</h3>
							<div class="separator-2"></div>
							<p>
								Airport Transfer
							</p>
							<p>
								Wedding Day Hire
							</p>
							<p>
								Day Hire (8-12 hours)
							</p>
							<p>
								Corporate
							</p>
							<p>
								Family Events
							</p>
							<p>
								VIP Close Protection (SIA Certified)
							</p>
							<p>
								Parcel Delivery
							</p>
						</div>
						<div class="col-md-6">
							<h3 class="title">Payments</h3>
							<div class="separator-2"></div>
							<p>
								PayPal
							</p>
							<p>
								Cash
							</p>
							<p>
								Credit or Debit Card (2% transaction charge applies)
							</p>
						    <p>
						        Apple Pay
						    </p>
                            <p>
                                Bitcoin
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>