<head>
	<meta http-equiv="refresh" content="5; url=http://@ViewBag.HomeUrl" />
</head>
<div class="background-color">
	<div class="pv-40 dark-translucent-bg">
		<div class="container">
			<div class="row">
				<div class="main col-md-12">
					<h3 class="title">@ViewBag.Title</h3>
					<div class="separator-2"></div>
					<div class="row">
						<div class="col-md-6">
							<p>
								<strong>Thank you for choosing Vipdriving service!</strong>
							</p>
							<p>
								A confirmation link was sent to your email.
							</p>
							<p>
								Please follow the link to finalize your booking.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>