A confirmation link was sent to your email.

Please follow the link to finalize your booking.

<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-content">
							@*<div class="logo-footer"><img id="logo-footer" src="~/Content/Images/logo_orange.png" alt=""></div>*@
							<div class="row">
								<div class="col-md-4">
									<p></p>
									@*<ul class="social-links circle animated-effect-1">

											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>

											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>

											<li class="youtube"><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
										</ul>*@
									<ul class="list-icons">
										<li><i class="fa fa-map-marker pr-10 text-default"></i> One infinity loop, 54100</li>
										<li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
										<li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@theproject.com</a></li>
									</ul>
								</div>
								<div class="col-md-8">
									<div class="background-custom">
										<div class="car-background">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->
	<!-- .subfooter start -->
	<!-- ================ -->
	<div class="subfooter">
		<div class="container">
			<div class="subfooter-inner">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .subfooter end -->
</footer>
<!-- footer end -->