
@{
    ViewBag.Title = "VipReward";
}

<div class="background-color">
	<div class="pv-40 dark-translucent-bg">
		<div class="container">
			<h2>VipReward</h2>
			<div class="row" style="height: 200px;">
				Exciting news are coming soon.
			</div>
		</div>
	</div>
</div>
